*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* sidebar */
    --toggle-color: #FFD151;
    --sidebar-color: #8adbdc;
    --sidebar-font-color: #FFFF;
    --sidebar-button-hover-color: #FFFF;
    --sidebar-font-hover-color: #8adbdc;

    /* body */
    --searchbar-color: #f0f0f0;
    --body-color: #F1F1F1;
    --body-font-color: #7C7C7C;
    --product-item-color: #FFFF;
    --price-color: #8adbdc;
    
    /* light dark switch */
    --sun-moon-color: rgb(255, 225, 27);
    --switch-color: #FFFF;
}

body.dark-theme{
    /* sidebar */
    --toggle-color: #282828;
    --sidebar-color: #272727;
    --sidebar-font-color: #eaeaea;
    --sidebar-button-hover-color: #7a7a7a;

    /* body */
    --sidebar-font-hover-color: #c0c0c0;
    --searchbar-color: #3d3d3d;
    --body-color: #3e3e3e;
    --body-font-color: #b4b4b4;
    --product-item-color: #757575;
    --price-color: #d1d1d1;

    /* light dark switch */
    --sun-moon-color: rgb(236, 236, 236);
    --switch-color: #414141;
}

body{
    background: var(--body-color);
    transition: all 0.3s ease;
    position: relative;
}

.black-curtain{
    display: none;
    position: absolute;
    background: rgba(87, 87, 87, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.notification{
    width: 400px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px; 
    box-shadow: 3px 3px 11px 0px #666666;
}

.check-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(113, 255, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);
    position: absolute;
    box-shadow: 0px 2px 3px 0 #b8a788;
}

.fa-check{
    color: white;
    font-size: 30px;
}

.notification #head{
    margin-top: 10px;
    color: rgb(74, 74, 74);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.notification p{
    margin-top: 15px;
    text-align: center;
    color: rgb(155, 155, 155);
}

.sure-cancel-container{
    margin-top: 35px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.home-button{
    width: 150px;
    height: 40px;
    background: rgb(107, 254, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.sure-button span{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.sidebar{
    width: 220px;
    height: 100vh;
    background: var(--sidebar-color);
    position: fixed;
    display: flex;
    transition: all 0.3s ease;
}
.sidebar.close{
    width: 97.5px;
}

/* menu */
.menu{
    width: 100%;
    padding: 0;
}

.real-menu{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item{
    width: 180px;
    height: 50px;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px
}
.menu-item.products .menu-button{
    background: var(--sidebar-button-hover-color);
    transition: all 0.3s ease;
}

.menu-item.products .menu-button .menu-icon,
.menu-item.products .menu-button .menu-name{
    color: var(--sidebar-font-hover-color);
}

/* nút menu */
.menu-button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.sidebar.close .menu-button{
    width: 54px;
}

.menu-icon{
    font-size: 20px;
    width: 50px;
    color: var(--sidebar-font-color);
    transition: color 0.3s ease;
}

.menu-name{
    font-weight: bold;
    color: var(--sidebar-font-color);
    transition: all 0.3s ease;
}
.sidebar.close .menu-name{
    font-size: 0;
}

.menu-button:hover{
    background: var(--sidebar-button-hover-color);
}

.menu-item .menu-button:hover .menu-name,
.menu-item .menu-button:hover .menu-icon{
    color: var(--sidebar-font-hover-color);
}

/* toogle để đóng mở sidebar */
.hamburger-bars{
    margin: 20px 0 10px 20px;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.sidebar.close .hamburger-bars{
    margin-left: 31px;
}

.hamburger-bar{
    width: 30px;
    height: 3px;
    background: var(--sidebar-font-color);
    border-radius: 10px;
    transform-origin: 29.9px;
    transition: all 0.3s ease;
}

.hamburger-bar:nth-child(1){
    transform: rotate(-45deg);
}
.hamburger-bar:nth-child(2){
    opacity: 0;
}
.hamburger-bar:nth-child(3){
    transform: rotate(45deg);
}

.sidebar.close .hamburger-bar:nth-child(1){
    transform: rotate(0);
}
.sidebar.close .hamburger-bar:nth-child(2){
    opacity: 1;
}
.sidebar.close .hamburger-bar:nth-child(3){
    transform: rotate(0);
}

/* light dark theme */
.light-dark-theme{
    width: 180px;
    height: 55px;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.sidebar.close .light-dark-theme{
    width: 70px;
    margin-left: 10px;
}

.theme-mode-name{
    margin-left: 15px;
    color: var(--sidebar-font-color);
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}
.sidebar.close .theme-mode-name{
    font-size: 0;
}

.switch{
    height: 25px;
    width: 50px;
    background: var(--switch-color);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    transition: margin-left 0.3s ease;
}

.fa-sun{
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 30px;
    margin-left: 4px;
    color: var(--sun-moon-color);
    transition: all 0.3s ease;
}

body.dark-theme .fa-moon{
    position: absolute;
    font-size: 17px;
    margin-left: 30px;
    color: var(--sun-moon-color);
    transition: all 0.3s ease;
}

.sidebar.close .fa-moon{
    margin-left: 20px;
}

.sun.animated, .fa-moon.animated{
    animation: spin360 0.3s ease;
}

@keyframes spin360{
    100%{
      transform: rotate(360deg);
    }
}

/* phần body ------------------------------------------------ */
.body{
    transition: all 0.3s ease;
    background: var(--sidebar-color);
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.container-container{
    width: 97%;
    height: calc(100vh - 40px);
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 20px;
    transition: all ease 0.3s;
    overflow: auto;
    display: flex;
    overflow: auto;
}

.form{
    width: 60%;
    padding: 60px 100px;
    background: rgb(255, 255, 255);
    position: relative;
}

.message-container{
    width: 0%;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    transition: 0.2s ease all;
}
.message-container.active{
    width: 100%;
    background: rgb(252, 116, 116);
    padding: 10px 20px;
}

.message-container li{
    font-size: 0;
    transition: 0.2s ease all;
}
.message-container.active li{
    font-size: 14px;
    color: white;
}

label{
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
}

input{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    background: rgb(235, 235, 235);
    padding: 10px;
}

.save-cancel-button{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    align-items: center;
}

.save-button{
    width: 150px;
    height: 50px;
    background: rgb(23, 219, 23);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
}

.cancel-button{
    width: 150px;
    height: 50px;
    background: rgb(219, 65, 23);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

span{
    color: white;
    font-weight: bold;
}

/* cart */
.cart-container{
    border-left: 2px rgb(172, 172, 172) solid;
    width: 40%;
    padding: 40px 70px;
    background: rgb(255, 255, 255);
    position: relative;
}

.cart{
    width: 100%;
}

.product-container{
    position: relative;
}

.product{
    height: 110px;
    width: 100%;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 11px #c2c2c2;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    color:rgb(70, 70, 70);
}

.product a{
    text-decoration: none;
}

.product img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.name-price-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px 30px 10px;
}

.adjust-quantity-container{
    height: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minus, .add{
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.number{
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 5px 0;
}

.fa-xmark{
    top: -15px;
    left: -15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background:rgb(219, 65, 23);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}