@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    /* sidebar */
    --toggle-color: #FFD151;
    --sidebar-color: #8adbdc;
    --sidebar-font-color: #FFFF;
    --sidebar-button-hover-color: #FFFF;
    --sidebar-font-hover-color: #8adbdc;

    /* body */
    --searchbar-color: #f0f0f0;
    --body-color: #F1F1F1;
    --body-font-color: #7C7C7C;
    --product-item-color: #FFFF;
    --price-color: #8adbdc;
    
    /* light dark switch */
    --sun-moon-color: rgb(255, 225, 27);
    --switch-color: #FFFF;
}

body.dark-theme{
    /* sidebar */
    --toggle-color: #282828;
    --sidebar-color: #272727;
    --sidebar-font-color: #eaeaea;
    --sidebar-button-hover-color: #7a7a7a;

    /* body */
    --sidebar-font-hover-color: #c0c0c0;
    --searchbar-color: #3d3d3d;
    --body-color: #3e3e3e;
    --body-font-color: #b4b4b4;
    --product-item-color: #757575;
    --price-color: #d1d1d1;

    /* light dark switch */
    --sun-moon-color: rgb(236, 236, 236);
    --switch-color: #414141;
}

.alert{
    position: absolute;
    color: rgb(255, 48, 48);
    font-weight: bold;
    font-size: 14px;
}

.fa-circle-exclamation{
    color: rgb(255, 48, 48);
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 22px;
}

.fa-circle-exclamation.a{
    color: rgb(255, 48, 48);
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 22px;
}

.not-enough-information{
    top: 42px;
    left: 58px;
}

.wrong-account-or-password{
    top: 42px;
    left: 58px;
}

body{
    background: var(--body-color);
    transition: all 0.3s ease;
    position: relative;
}

.black-curtain{
    display: none;
    position: absolute;
    background: rgba(87, 87, 87, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.update-profile-image-container{
    width: 400px;
    padding: 30px;
    background: white;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.update-profile-image-container .profile-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.edit-image-button1{
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    top: 30px;
    background: rgba(173, 173, 173, 0.5);
    opacity: 0;
    transition: all ease 0.3s;
}
.edit-image-button1:hover{
    opacity: 1;
}

.edit-image-button1 label{
    font-size: 30px;
    color: rgba(83, 83, 83, 0.6);
}

#input-file{
    display: none;
}

.update-profile-image-button-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.update-profile-image-button{
    width: 150px;
    height: 100%;
    background:rgb(255, 197, 90);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
}

.cancel-update-profile-image-button{
    width: 150px;
    height: 100%;
    background:rgb(255, 99, 99);
    border-radius: 15px;
    font-weight: bold;
    color: white;
    border: none;
}

/* phần sidebar ----------------------------------------------*/
/* khung chứa sidebar*/
.sidebar{
    width: 220px;
    height: 100vh;
    background: var(--sidebar-color);
    position: fixed;
    display: flex;
    transition: all 0.3s ease;
}
.sidebar.close{
    width: 97.5px;
}

/* menu */
.menu{
    width: 100%;
    padding: 0;
}

.real-menu{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item{
    width: 180px;
    height: 50px;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px
}
.menu-item.home .menu-button{
    background: var(--sidebar-button-hover-color);
    transition: all 0.3s ease;
}

.menu-item.home .menu-button .menu-icon,
.menu-item.home .menu-button .menu-name{
    color: var(--sidebar-font-hover-color);
}

/* nút menu */
.menu-button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.sidebar.close .menu-button{
    width: 54px;
}

.menu-icon{
    font-size: 20px;
    width: 50px;
    color: var(--sidebar-font-color);
    transition: color 0.3s ease;
}

.menu-name{
    font-weight: bold;
    color: var(--sidebar-font-color);
    transition: all 0.3s ease;
}
.sidebar.close .menu-name{
    font-size: 0;
}

.menu-button:hover{
    background: var(--sidebar-button-hover-color);
}

.menu-item .menu-button:hover .menu-name,
.menu-item .menu-button:hover .menu-icon{
    color: var(--sidebar-font-hover-color);
}

/* toogle để đóng mở sidebar */
.hamburger-bars{
    margin: 20px 0 10px 20px;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.sidebar.close .hamburger-bars{
    margin-left: 31px;
}

.hamburger-bar{
    width: 30px;
    height: 3px;
    background: var(--sidebar-font-color);
    border-radius: 10px;
    transform-origin: 29.9px;
    transition: all 0.3s ease;
}

.hamburger-bar:nth-child(1){
    transform: rotate(-45deg);
}
.hamburger-bar:nth-child(2){
    opacity: 0;
}
.hamburger-bar:nth-child(3){
    transform: rotate(45deg);
}

.sidebar.close .hamburger-bar:nth-child(1){
    transform: rotate(0);
}
.sidebar.close .hamburger-bar:nth-child(2){
    opacity: 1;
}
.sidebar.close .hamburger-bar:nth-child(3){
    transform: rotate(0);
}

/* light dark theme */
.light-dark-theme{
    width: 180px;
    height: 55px;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.sidebar.close .light-dark-theme{
    width: 70px;
    margin-left: 10px;
}

.theme-mode-name{
    margin-left: 15px;
    color: var(--sidebar-font-color);
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}
.sidebar.close .theme-mode-name{
    font-size: 0;
}

.switch{
    height: 25px;
    width: 50px;
    background: var(--switch-color);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    transition: margin-left 0.3s ease;
}

.fa-sun{
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 30px;
    margin-left: 4px;
    color: var(--sun-moon-color);
    transition: all 0.3s ease;
}

body.dark-theme .fa-moon{
    position: absolute;
    font-size: 17px;
    margin-left: 30px;
    color: var(--sun-moon-color);
    transition: all 0.3s ease;
}

.sidebar.close .fa-moon{
    margin-left: 20px;
}

.sun.animated, .fa-moon.animated{
    animation: spin360 0.3s ease;
}

@keyframes spin360{
    100%{
      transform: rotate(360deg);
    }
}

/* phần body ------------------------------------------------ */
.body{
    transition: all 0.3s ease;
    background: var(--sidebar-color);
    overflow: hidden;
    height: 100vh;
}

.container-container{
    width: 97%;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 30px;
    margin-top: 20px;
    transition: all ease 0.3s;
    overflow: auto;
}
.container-container::-webkit-scrollbar{
    width: 0;
}

.container{
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
    position: fixed;
    transition: 0.3s ease all;
    background: rgb(255, 255, 255);
    border-radius: 30px 30px 0 0;
}

.another-container{
    display: flex;
    justify-content: center;
    width: 92%;
}

/* phần thanh tìm kiếm -----------------------------------------*/

.search{
    transition: all 0.3s ease;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 300px;
    position: relative;
}

.cart-user{
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
}

.searchbar input{
    height: 50px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    padding-left: 40px;
    background: var(--searchbar-color);
}

.search-button{
    background: none;
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: rgb(255, 197, 90);
    width: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

/* phần dropdown ----------------------------------------*/

.user{
    position: relative;
    color:rgb(255, 197, 90);
}

.user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.dropdown{
    width: 400px;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    background: white;
}

.user.active .dropdown{
    display: flex;
}

.dropdown-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease 0.3s;
    overflow: hidden;
}

.image-name-container{
    width: 75%;
    background: rgb(244, 244, 244);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    position: relative;
}

.image-name-container img{
    margin-top: 30px;;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
}

.image-name-container h2{
    color: #ffcb3c;
    margin-top: 5px;
}

.edit-image-button{
    display: flex;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    top: 30px;
    background: rgba(173, 173, 173, 0.5);
    opacity: 0;
    transition: all ease 0.3s;
}
.edit-image-button:hover{
    opacity: 1;
}

.edit-image-button i{
    font-size: 20px;
    color: rgba(83, 83, 83, 0.6);
}

.dropdown-container a{
    width: 75%;
    height: 60px;
    margin-top: 8px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ffcb3c;
    padding: 5px;
}
.dropdown-container a:hover{
    box-shadow: 1px 1px 7px 3px rgb(216 216 216);
}

.dropdown-icon i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #8adbdc;
    border-radius: 15px;
    margin-right: 20px;
}

.switch-account-button{
    padding: 0;
    background-color: transparent;
    width: 75%;
    height: 60px;
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ffcb3c;
    padding: 5px;
}
.switch-account-button:hover{
    box-shadow: 1px 1px 7px 3px rgb(216 216 216);
}

.dropdown-container1{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.fa-arrow-left{
    position: absolute;
    font-size: 20px;
    color: #ffcb3c;
    left: 20px;
    cursor: pointer;
}

.email-input-container{
    position: relative;
    height: 45px;
    width: 300px;
    margin-top: 40px;
}

.fa-envelope{
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.email-input-container input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 0;
    background: rgb(242, 242, 242);
    padding-left: 40px;
    font-weight: bold;
}

.password-input-container{
    position: relative;
    height: 45px;
    width: 300px;
    margin-top: 20px;
}

.fa-lock{
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.password-input-container input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 0;
    background: rgb(242, 242, 242);
    padding-left: 40px;
    font-weight: bold;
}

.submit-button{
    margin-top: 15px;
    width: 300px;
    height: 45px;
    background: rgb(255, 197, 90);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submit-button:hover{
    box-shadow: 2px 2px 6px #c1c1c1;
}

.dont-have-account{
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.dont-have-account a{
    text-decoration: none;
    color: var(--price-color)
}

/* content container ---------------------------------*/

.content-container{
    width: calc(100% - 80px);
    margin: 110px 0 50px 0;
    columns: 4;
    column-gap: 40px;
}

.product-container{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    box-shadow: 5px 5px 11px #c2c2c2;
    border-radius: 15px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

.product-image{
    width: 100%;
    border-radius: 15px;
}

.user-profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    bottom: 0;
    right: 15px;
}

.name-price-container{
    width: 90%;
    margin: 10px auto;
}

.price-profileImage-container{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.product-name{
    margin: 10px 0 0 15px;
    color: rgb(27, 27, 27);
    font-weight: 700;
}

.user-name{
    margin: 2px 0 10px 15px;
    color: rgb(126, 126, 126); 
}

.product-price{
    margin: 10px 0 10px 15px;
    color: rgb(255, 197, 90);
    font-weight: 700;
}